[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-mysqldb = "*"
jsmin = "*"
cerberus = "*"
flask-wtf = "*"
flask-redis = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.7"
